In [ ]:
n=4
1           1+2(1*2)
3 2         2+4(2*2)
6 5 4       4+6(3*2)
10 9 8 7    7+8(4*2)

In [3]:
n=int(input())
cnt=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(cnt,end=" ") #1 #3 2 1
        cnt=cnt-1#0  
        
    cnt+=1   
    cnt=cnt+(row*2) #1+1*2=3
    print( )

4
1
3 2
6 5 4
10 9 8 7

In [ ]:
inftq.infosys.com
mcq=>

### Dictionary

In [4]:
mydict={} #empty dict
type(mydict)

dict

In [ ]:
list=[]
tuple=()
set={}#single
dictionary={}#key-value #mapping
{k1:value1,k2:value,........}

In [5]:
mydict1={}

In [6]:
mydict1['One']=1 #key=one    value=1
mydict1['Two']=2
mydict1

{'One': 1, 'Two': 2}

In [7]:
mydict={'Name':'Sugan','empid':123,'Location':'chn'}

In [8]:
mydict

{'Name': 'Sugan', 'empid': 123, 'Location': 'chn'}

In [9]:
mydict2={'Name': 'Sugan', 
         'empid': 123,
         'Location': 'chn'}
mydict2

{'Name': 'Sugan', 'empid': 123, 'Location': 'chn'}

## empty dictionary

In [ ]:
myset=set()  #set function

In [10]:
mydict=dict()
type(mydict)

dict

In [11]:
mydict=dict(name='Sam',age=23)#keyworded argument
mydict

{'name': 'Sam', 'age': 23}

### passing tuple to dictionary

In [12]:
mydict3=dict([(1,'Sam'),(2,23),(3,'chn')])
mydict3

{1: 'Sam', 2: 23, 3: 'chn'}

### Dictionary comprehension

In [ ]:
=>expression
=>iteration
=>condition(optional)

In [ ]:
mydict={expression iteration condition}

In [ ]:
#{0:0,1:1,2:4,3:9,4:16}=>key=no  value=>sqr of no

In [17]:
mydict={i:i**2 for i in range(5)}
mydict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
mydict={i:i**2 for i in range(5) if i%2==0}
mydict

{0: 0, 2: 4, 4: 16}

In [14]:
for i in range(5):
    print(i,':',i**2)

0 : 0
1 : 1
2 : 4
3 : 9
4 : 16

### acessing dictionary

In [19]:
mydict={1:'Sugan',2:25,3:'chn'}

In [20]:
mydict.values()

dict_values(['Sugan', 25, 'chn'])

In [21]:
mydict.keys()

dict_keys([1, 2, 3])

In [22]:
mydict

{1: 'Sugan', 2: 25, 3: 'chn'}

In [23]:
mydict.items()

dict_items([(1, 'Sugan'), (2, 25), (3, 'chn')])

### built-in method

In [ ]:
1.copy() or d3=d1
2.clear()
3.update(dict)

4.pop(key,value)#value=>optional
5.popitem()

6.get(key)
  keys()
  values()
  items()

In [24]:
d2=mydict.copy()
d2

{1: 'Sugan', 2: 25, 3: 'chn'}

In [25]:
d3=d2
d3

{1: 'Sugan', 2: 25, 3: 'chn'}

In [26]:
d3.clear()
d3

{}

In [27]:
mydict3

{1: 'Sam', 2: 23, 3: 'chn'}

In [30]:
mydict

{1: 'Sugan', 2: 25, 3: 'chn'}

In [31]:
mydict3.update(mydict)
mydict3

{1: 'Sugan', 2: 25, 3: 'chn'}

In [32]:
mydict3.pop(2)
mydict3

{1: 'Sugan', 3: 'chn'}

In [34]:
mydict3.popitem()#right to left
mydict3

{}

In [35]:
d1={1:'Apple',2:'Orange',3:'Graphes'}

In [36]:
d1.get(1)

'Apple'

In [37]:
d1[0]

KeyError: 0

In [38]:
mydict={}
for i in range(3):
    k1=input("key:")
    v1=int(input("value:"))
    mydict[k1]=v1
print(mydict)

key:Apple
value:120
key:Orange
value:50
key:Kiwi
value:30
{'Apple': 120, 'Orange': 50, 'Kiwi': 30}

In [ ]:
1
2 1
3 2 1
4 3 2 1
n=4

In [ ]:
n=3
001
01 1
1 1  1