### Collections

In [ ]:
strings
lists
sets
tuples
dictionaries

### Strings

In [3]:
var='hi'
var1="hello"

In [7]:
var2='''welcome'''
var3=""" all"""

' all'

In [ ]:
var='hi
      hello'

In [8]:
var=''' hello!!  
           All is well''' #muti-line initalization
print(var)

 hello!!
           All is well

### Accessing

In [ ]:
1.indexing-positive,negative
2.slicing

In [9]:
name="Lakshmi" #L=0 a=1 k=2 s=3 h=4 m=5 i=6 #postive
               #L=-7 a=-6 k=-5 s=-4 h=-3 m=-2 i=-1

In [10]:
name[0] #indexing

'L'

In [11]:
name[1]

'a'

In [20]:
name[4]

'h'

In [12]:
name[-1] #-1=i   -2=m -3=h

'i'

In [13]:
name[-3]

'h'

In [14]:
name

'Lakshmi'

In [ ]:
[start:end:step] #slicing
start=0
end=end-1
step=1

In [15]:
name[::]

'Lakshmi'

In [17]:
name[::2]

'Lkhi'

In [19]:
name[0:5] #Laksh
        #l=0 a=1  k=2 s=3 h=4

'Laksh'

In [21]:
name="education" #e=0 d=1 u=2 c=3 a=4 t=5 i=6 o=7 n=8
                                     t-4   i=-3    o=-2  n=-1

In [22]:
name[::]

'education'

In [24]:
name[:6] #end=end-1

'educat'

In [26]:
name[1::2]

'dcto'

In [27]:
name[::-1]

'noitacude'

In [29]:
name[-4::]

'tion'

## modification

In [ ]:
immutable

In [30]:
name="Sam"

In [31]:
name[0]='R'

TypeError: 'str' object does not support item assignment

In [32]:
name

'Sam'

In [33]:
del name

In [34]:
name

NameError: name 'name' is not defined

### concatention

In [43]:
name1="Ram kumar"
name2="Sam"

In [44]:
name1+' and '+name2 +'are good friends.'

'Ram kumar and Samare good friends.'

### replication

In [45]:
name1*5

'Ram kumarRam kumarRam kumarRam kumarRam kumar'

In [47]:
var="@12345"
type(var)

str

## methods

In [ ]:
1.lower()
2.upper()
3.split()
4.join()
5.find() or index()
6.count()
7.Capitalize()
8.replace()
9.isalpha()#boolen
10.isalnum()
11.isdigit()
11.islower()
13.isupper()

In [89]:
Techisugan

'Aswath'

In [48]:
name="Aswath"

In [49]:
name.lower()

'aswath'

In [50]:
name.upper()

'ASWATH'

In [58]:
var="All is well"
res=var.split(' ')
print(res)

['All', 'is', 'well']

In [55]:
name.split()

['Aswath']

In [56]:
res

['All', 'is', 'well']

In [59]:
var="dog,cat,puppy,cow"
var.split(',')

['dog', 'cat', 'puppy', 'cow']

In [61]:
var="communication"
var.split('o')

['c', 'mmunicati', 'n']

In [62]:
res

['All', 'is', 'well']

In [63]:
" ".join(res)

'All is well'

In [64]:
"@".join(res)

'All@is@well'

In [65]:
var

'communication'

In [66]:
var.find('o')

1

In [67]:
var.index('c')

0

In [69]:
ch='o'
var="communication"
for i in range(len(var)): #end
    if var[i] in ch:#and cnt==2
        x=i
print(x)

11

In [70]:
var

'communication'

In [71]:
var.capitalize()

'Communication'

In [72]:
var="this is a example"

In [73]:
var.replace('a','an')

'this is an exanmple'

In [79]:
var

'sai'

In [86]:
var="sa123"

In [87]:
var.isalpha() #alhabet

False

In [88]:
var.isalnum() #alphabet /numeric

True

In [ ]:
var.

## List

In [1]:
lst=[] #empty list
lst

[]

In [2]:
type(lst)

list

In [3]:
lst1=[1,2,3]
lst1

[1, 2, 3]

In [4]:
lst2=[1,2,'a','sugan',True,3.4]
lst2

[1, 2, 'a', 'sugan', True, 3.4]

### nested list

In [18]:
lst=[1,2,['Apple','Orange','Grapes'],3.4,5,True]
lst

[1, 2, ['Apple', 'Orange', 'Grapes'], 3.4, 5, True]

## Access the list

In [ ]:
1.indexing-positive,negative
2.slicing

In [6]:
mylst=[10,20,30,40,50,60,70]

### indexing

In [7]:
mylst[0]

10

In [8]:
mylst[1]

20

In [9]:
mylst[-1]

70

In [10]:
mylst[-2]

60

### Slicing

In [ ]:
[start:end:step]
start=0
step=1
end=end-1

In [11]:
mylst

[10, 20, 30, 40, 50, 60, 70]

In [12]:
mylst[:4]

[10, 20, 30, 40]

## modification

In [13]:
mylst

[10, 20, 30, 40, 50, 60, 70]

In [14]:
mylst[1]=200
mylst

[10, 200, 30, 40, 50, 60, 70]

In [ ]:
list=mutable by  nature

In [15]:
del mylst[1]
mylst

[10, 30, 40, 50, 60, 70]

In [ ]:
del mylst ---->#del  entire list

In [16]:
mylst

[10, 30, 40, 50, 60, 70]

In [17]:
del mylst[1:4]
mylst

[10, 60, 70]

In [19]:
lst

[1, 2, ['Apple', 'Orange', 'Grapes'], 3.4, 5, True]

In [20]:
lst[1]

2

In [21]:
lst[2]

['Apple', 'Orange', 'Grapes']

In [22]:
lst[2][0]

'Apple'

### methods

In [33]:
mylst=[10,20,30,40,50,60,70]

In [ ]:
1.remove(item)
2.pop(index)
3.clear()

4.append(item) #single value 
5.index(item)
6.extend(lst)
7.insert(index,element)
8.count(element)#no of occurance of one particular element
9.reverse()
10.copy
11.sort()#ascend
12.sort(reverse=True)
13.sorted(lst)
len()
max()
min()
sum()

In [55]:
mylst=[5,4,3,7,1,9]

In [56]:
len(mylst)

6

In [57]:
max(mylst)

9

In [58]:
min(mylst)

1

In [59]:
sum(mylst)

29

In [52]:
sorted(mylst)

[1, 3, 4, 5, 7, 9]

In [53]:
mylst

[5, 4, 3, 7, 1, 9]

In [54]:
mylst.sort()
mylst

[1, 3, 4, 5, 7, 9]

In [49]:
mylst=[20,10,5,25,30,15]

In [50]:
newlst=mylst.copy()
newlst

[20, 10, 5, 25, 30, 15]

In [47]:
mylst.sort() #mylst.sort(reverse=False)
mylst

[5, 10, 15, 20, 25, 30]

In [48]:
mylst.sort(reverse=True)
mylst

[30, 25, 20, 15, 10, 5]

In [45]:
mylst.reverse()
mylst

[70, 60, 50, 40, 35, 30, 20, 10]

In [43]:
mylst[::-1] #reverse by slicing

[70, 60, 50, 40, 35, 30, 20, 10]

In [36]:
mylst1=['red','blue','green']

In [40]:
lst=[1,2,3,1,2,4,1,5,1]

In [41]:
lst.count(1)

4

In [39]:
mylst.insert(3,35)
mylst

[10, 20, 30, 35, 40, 50, 60, 70]

In [37]:
mylst1.extend(mylst)
mylst1

['red', 'blue', 'green', 10, 20, 30, 40, 50, 60, 70]

In [35]:
mylst.index(30)

2

In [28]:
mylst

[]

In [29]:
mylst.append(10)
mylst

[10]

In [30]:
mylst.append(20)
mylst.append('Apple')
mylst

[10, 20, 'Apple']

In [32]:
newlst=[]
no=int(input("Enter no of elemnet in list:"))
for i in range(no):
    newlst.append(int(input()))
print(newlst)

Enter no of elemnet in list:2
30
40
[30, 40]

In [27]:
mylst.clear()
mylst

[]

In [26]:
mylst.pop(0)
mylst

[20, 30, 40, 50, 70]

In [25]:
mylst.remove(60)
mylst

[10, 20, 30, 40, 50, 70]

### Tuple

In [60]:
mytup=() #empty tuple

In [61]:
type(mytup)

tuple

In [62]:
mytup=(1,2,3,'a')
mytup

(1, 2, 3, 'a')

In [67]:
mytup1=(2,)
type(mytup1)

tuple

## Accessing

In [ ]:
1.indexing
2.slicing

In [69]:
mytup

(1, 2, 3, 'a')

In [70]:
mytup[0]

1

## Modification

In [71]:
mytup=(10,20,30,40,50,60)
mytup

(10, 20, 30, 40, 50, 60)

In [72]:
mytup[0]=70

TypeError: 'tuple' object does not support item assignment

In [ ]:
Tuple=>immutable by nature

In [73]:
mytup=(10,20,['Red','Blue'],30)

In [77]:
mytup[2][0]=123
mytup

(10, 20, [123, 'Blue'], 30)

In [76]:
mytup[1]=200

TypeError: 'tuple' object does not support item assignment

### concatenation

In [78]:
t1=(1,2,3)
t2=(10,20,30)
t1+t2

(1, 2, 3, 10, 20, 30)

In [79]:
t1

(1, 2, 3)

## replication

In [80]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## methods

In [ ]:
1.count(element)
2.index(element)

In [81]:
tup=(1,2,3,1,2,3,2,2)
tup.count(2)

4

In [82]:
tup.index(2)

1

In [86]:
tup=(5,4,5,3,4,6,6)
div=tup[0]
for i in range(len(tup)):  #range(end-1)
    if tup[i]%div !=0:
        print("No")
        break
else: #else for for loop
    print("yes")

No

## Set

In [ ]:
list=[] #mutable     allow duplicate
tuple=()#immutable    allow duplicate
set={}  #mutable      no duplicate  #unordered collection of data
dictionary={}

In [87]:
lst=[1,2,3,1,1,2]

### delcare

In [88]:
myset={}
type(myset)

dict

In [90]:
myset=set()
type(myset)  #declare empty set

set

In [91]:
myset={1,2,'sugan',3.4}
myset

{1, 2, 3.4, 'sugan'}

In [93]:
myset1={10,20,20,10,30}
myset1

{10, 20, 30}

In [94]:
type(myset1)

set

### Basic Operation

In [ ]:
1.add(element)#single value add
2.update(set)
3.remove(element)
4.discard(element)
5.pop()

In [97]:
myset=set()

In [98]:
myset.add('Apple')
myset.add(10)
myset

{10, 'Apple'}

In [100]:
s1={10,20,30,40}

In [101]:
myset.update(s1)
myset

{10, 20, 30, 40, 'Apple'}

In [105]:
myset.remove(20)
myset

KeyError: 20

In [106]:
myset.discard(40)
myset

{10, 30, 'Apple'}

In [104]:
myset

{10, 30, 'Apple'}

In [112]:
myset={10,20,30,40,50}
myset

{10, 20, 30, 40, 50}

In [117]:
myset.pop() #first element-unordered collection

50

In [118]:
myset

{20, 30}

## Set Operation

In [ ]:
1.issubset() or   s1<=s2
2.issuperset() or s1>=s2 
3.union()   or s1|s2
4.intersection()  or s1 &s2
5.difference() or s1-s2
6.symmetric difference

In [120]:
s1={1,2,3}
s2={1,2,3,8}
s3={1,2,3,5,6,7}

In [137]:
s2.symmetric_difference(s3)

{5, 6, 7, 8}

In [134]:
s2-s1

{8}

In [135]:
s1-s2

set()

In [133]:
s1.intersection(s2)

{1, 2, 3}

In [131]:
s1.union(s2)

{1, 2, 3, 8}

In [132]:
s1|s3

{1, 2, 3, 5, 6, 7}

In [123]:
s1.issubset(s3) #all elements of s1 is present s3

True

In [125]:
s2<=s3

False

In [129]:
s2.issuperset(s1)#s2 contains all element s1

True

In [130]:
s2>=s1

True

In [ ]:
n=3
* * *
* * *
* * *

In [1]:
n=3
for i in range(1,n+1):#row 1 2 3
    for j in range(1,n+1):#col 1 2 3
        print("*",end=" ")
    print(' ')

* * *
* * *
* * *

In [3]:
n=5
for i in range(1,n+1):#row 1 2 3
    for j in range(1,n+1):#col 1 2 3
        if i==1 or j==1 or i==n or  j==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(' ')

* * * * *
*       *
*       *
*       *
* * * * *

In [4]:
n=4
for i in range(1,n+1):#row 1 2 3
    for j in range(1,i+1):
        print("*",end=" ")
    print(' ')

*
* *
* * *
* * * *