In [ ]:
input() #type casting=>str to

### Data Types

Type of object is assigned to a variable using Python's built-in `type()` function.

| Data Type              | Examples                                  |
| ---------------------- | ----------------------------------------- |
| Integers               | `-2, -1, 0, 1, 2, 3, 4, 5`                |
| Floating-point numbers | `-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25` |
| Boolean                | `True    False`                           |
| Integers(base -2,8,16) | `0b1010, 0o147, 0xFFF`                    |
| Complex                | `2+5j, 3-4.5j`                            |

In [ ]:
10=>base 10

In [39]:
0b1010=>

10

In [42]:
bin(10)

'0b1010'

In [40]:
0o147

103

In [41]:
0xFFF

4095

In [44]:
var=3+4j

In [45]:
var.real

3.0

In [46]:
var.imag

4.0

In [47]:
var

(3+4j)

### Variables

In [6]:
no=2

In [7]:
no

2

In [8]:
no="Sugan" #''  " "

In [9]:
no #Dynamic type language

'Sugan'

In [11]:
#'hello'---->comment line

In [ ]:
no1=3
no2=3

In [15]:
no1,no2=3,5

In [16]:
no1

3

In [17]:
no2

5

In [18]:
no1,no2=no2,no1 #swapping

In [19]:
no2               print(no2)   printf("%d",no2)

3

### Rules of Variable

In [ ]:
1.should not start with no-  ex:  1rollno
2.no space in variable name- ex:  i phone
3.must start with letter or underscore-alphanumeric  ex:rollno1 ,i_phone
                                   ex:iPhone,eBay
4.keywords cant be used - ex:
5.no special character=> @!#$~+.....etc

### Keywords in Python programming language

    False   class      finally   is         return 

    None    continue   for       lambda     try 
  
    True    def        from      nonlocal   while 
   
    and     del        global    not        with 
 
    as      elif       if        or         yield 
    
    assert  else       import    pass   
   
    break   except     in        raise

### Keyword Arguments and print()

In [21]:
print("hello!!")
print("All is well")

hello!!
All is well

In [26]:
'Ganesh'

'Ganesh'

In [27]:
"Ganesh"

'Ganesh'

In [28]:
'''Ganesh'''

'Ganesh'

In [25]:
print("hello!!",end='$')
print("All is well")

hello!!$All is well

In [ ]:
printf("hello\n")
printf("All is well")   #hello All is well

### The input() Function

Example Code:

In [29]:
name="Sugan"

In [30]:
print("hello!! how are you?",name)

hello!! how are you? Sugan

In [33]:
name=input("Enter name:")
print("hello !!!",name)

Enter name:Sai
hello !!! Sai

In [34]:
type(name)

str

In [48]:
no1=int(input("Enter no1:")) #string
no2=int(input("Enter no2:"))
print(no1+no2) #6

Enter no1:4
Enter no2:2
6

In [36]:
type(no1)

str

In [37]:
type(no2)

str

In [38]:
"hello!! "+"Sai"

'hello!! Sai'

### operators

In [ ]:
1.Arithmetic
2.Aritmetic Assignment
3.Logical
4.Bitwise
5.Identity
6.Assignment 
7.Relational
8.Membership

### Arithmetic

In [ ]:
+
-
*
/-div=>quo
%-modulo=>rem
//-floor div
**-exponent

In [49]:
5/2

2.5

In [50]:
5//2

2

In [53]:
2**3

8

### Arithmetic Assignment

In [ ]:
+=
-=
/=
*=
//=
**=

In [54]:
var=var+2

In [ ]:
var+=2

### Assignment

In [ ]:
==

In [55]:
3==3

True

In [56]:
3==2

False

### Logical-combining condition

In [ ]:
and
or
not

In [ ]:
x y and  0r
1 0
0 1
0 0      0
1 1  1

### Relational

In [ ]:
<
>
<=
>=
!=

### Bitwise

In [ ]:
&-bitwise and
|-bitwise or
^-bitwise xor
<<-left shift
>>-right shift

In [ ]:
10--->1010
15--->1111
--------------
      0101->^  5 
      1111->| 15
      1010->& 10

In [61]:
no1=10
no2=15
print(no1&no2)
print(no1|no2)
print(no1^no2)

10
15
5

In [63]:
no1=10
print(10<<1) #0001 0100

20

In [64]:
no1=10
print(10>>1)#0000 0101

5

In [ ]:
# 0000  1 0 1  0
32 16  8 4 2 1

### Identity

In [ ]:
is ==
is not !=

In [65]:
a=5

In [67]:
a == 5

True

In [70]:
a is not  15

True

### Membership

In [ ]:
in
not in

In [71]:
lst=[2,3,4]

In [72]:
4 in lst

True

In [74]:
5 not in lst

True

### Control Statement

In [ ]:
1.Conditional/Decision making
2.Looping

### Conditional

In [ ]:
1.simple if
2.if else
3.else if ladder
4.nested if else

### Simple if

In [ ]:
if condition:
    True-exp

In [ ]:
if (condition) # C,C++,Java,C#
{
    True-exp;
}

In [ ]:
age =>eligible to vote

In [78]:
age=int(input("Enter age:"))
if age>=18:
    print("Eligible to vote!!")
    print("go ahead")

Enter age:12

### if else

In [ ]:
if condition:
    True-exp
else:
    False-exp

In [79]:
age=int(input("Enter age:"))
if age>=18:
    print("Eligible to vote!!")
    print("go ahead")
else:
    print("not Eligible")

Enter age:12
not Eligible

### if else ladder

In [ ]:
if condition:
    True-exp
elif condition:
    True-exp
elif condition:
    True-exp
else:
    False-exp

In [81]:
no1=int(input("Enter no1:"))#input will be unquie for each no
no2=int(input("Enter no2:"))
no3=int(input("Enter no3:"))
if no1>no2 and no1>no3:#no2 or no3
    print("No1 is big")
elif  no2>no3:
    print("No2 is big")
else:
    print("No3 is big")

Enter no1:3
Enter no2:3
Enter no3:3
No3 is big

### nested if else

In [ ]:
if condition:
    True-exp
    if condition:
        True-exp
    else:
        False-exp
else:
    False-exp

### Looping

In [ ]:
1.for
2.while

## for

In [ ]:
for iterator_var in sequence:
    statements

In [ ]:
for iterator_var in sequence: #prime no
    statements
else:
    statements

In [ ]:
sequence=>list,tuple,string
         =>range()

In [ ]:
range(start,end,step)
start=0 #default
end=end-1
step=+1#default

In [82]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [87]:
list(range(0,11,3))

[0, 3, 6, 9]

In [89]:
for i in range(1,11,2):
    print(i,end=" ")

1 3 5 7 9

In [90]:
for i in range(11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
for(inital;cond;ince) #c,c++  for(i=0;i<..;)

In [92]:
for i in "Suganya":
    print(i,end=" # ")

S # u # g # a # n # y # a #

In [95]:
for i in 'suganyaSUGAN':
    if i in 'aeiouAEIOU':
        print(i,end=' ')

u a a U A

### while

In [ ]:
while condition:
    True-stat

In [ ]:
while condition:
    True-stat
else:
    final-stat

In [ ]:
##Display natural no 1 to 5

In [98]:
i=1
while i<5:
    if i==3:
        break
    print(i,end=' ')
    i=i+1

1 2

In [ ]:
break-immediate termination
continue-
pass